<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <!-- Load our custom stylesheet -->
    {% load static %}
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}" >
    <title>COGLE Survey</title>
  </head>
  <body>
    <div id="content">
      <script type="text/javascript">
          logging = "{{ logging }}";
          reset_local = "{{ reset_local }}";
          some_stuff = 'big top';
      </script>
      <script src="{% static 'dist/bundle.js' %}"  type="text/javascript"></script>
    </div>
  </body>
</html>
